#generic ignores
*.log
*.xml
*.sqlite
*.db*
*.txt
*._
__pycache__/
.pip_progress

#directory ignores
/tts
/.ssh
/.storage
/node-red
/.cloud
/.vscode

#specific ignores
secrets.yaml
ip_bans.yaml
known_devices.yaml
.ios.conf
.spotify-token-cache
.google.token
google_calendars.yaml
.uuid

#os file ignores
.DS_Store
._.DS_Store
.Trash-1000

#specific allows
!.test/secrets.yaml
