---

extends: default

rules:
  line-length: disable
  truthy: disable

ignore: |
  ui-lovelace.yaml
  custom_components/
  .github/workflows/check_config.yaml
  .gitlab-ci.yml
  /themes/
  packages/weatheralerts_1.yaml
  /blueprints/
