---

homeassistant:
  customize: !include customize.yaml
  packages: !include_dir_named packages
  auth_mfa_modules:
    - type: totp

default_config:

http:
  use_x_forwarded_for: true
  trusted_proxies: !secret nginx_ip

updater:
  include_used_components: true

lovelace:
  mode: yaml
  resources:
    - url: /hacsfiles/stack-in-card/stack-in-card.js
      type: module
    - url: /hacsfiles/light-brightness-preset-row/light-brightness-preset-row.js
      type: module
    - url: /hacsfiles/vacuum-card/vacuum-card.js
      type: module
    - url: /hacsfiles/lovelace-template-entity-row/template-entity-row.js
      type: module

ios:
  push:
    categories:
      - name: Coffee
        identifier: 'coffee'
        actions:
          - identifier: 'COFFEE_OFF'
            title: 'Turn Off'
          - identifier: 'COFFEE_DELAY'
            title: 'Remind me in 30 minutes'

notify:
  - platform: rest
    name: discord_webhook
    method: POST
    message_param_name: content
    title_param_name: username
    data:
      username: Home Assistant
    resource: !secret discord_webhook_url
  - platform: group
    name: all_mobile_apps
    services:
      - service: mobile_app_nathans_iphone
      - service: mobile_app_saras_iphone

wemo:
  static:
    - !secret wemo_coffee_switch_ip
    - !secret wemo_air_purifier_ip

calendar:
  - platform: todoist
    token: !secret todoist_token

automation: !include_dir_merge_list automation
input_number: !include input_number.yaml
input_boolean: !include input_boolean.yaml
input_datetime: !include input_datetime.yaml
sensor: !include sensor.yaml
binary_sensor: !include binary_sensor.yaml
light: !include light.yaml
scene: !include scene.yaml
script: !include scripts.yaml
group: !include group.yaml
