homeassistant:
  customize: !include customize.yaml

default_config:

http:
  base_url: !secret base_url
  ssl_certificate: /ssl/fullchain.pem
  ssl_key: /ssl/privkey.pem
  ip_ban_enabled: true
  login_attempts_threshold: 3

lovelace:
  mode: yaml

history:
  include:
    domains:
      - sensor
      - binary_sensor
      - switch
      - light
      - device_tracker
      - person
      - weather
      - input_boolean
    entities:
      - climate.ct_100_cool
      - climate.ct_100_heat
  exclude:
    entities:
      - switch.kitchen_lights
      - switch.hallway_light
      - switch.bedroom_light
      - switch.bathroom_sensor_status
      - switch.bedroom_sensor_status
      - sensor.activity
      - sensor.average_active_pace
      - sensor.battery_level
      - sensor.battery_state
      - sensor.bssid
      - sensor.connection_type
      - sensor.distance
      - sensor.ecolink_door_window_sensor_access_control
      - sensor.ecolink_door_window_sensor_alarm_level
      - sensor.ecolink_door_window_sensor_alarm_type
      - sensor.ecolink_door_window_sensor_burglar
      - sensor.ecolink_door_window_sensor_power_management
      - sensor.ecolink_door_window_sensor_sourcenodeid
      - sensor.floors_ascended
      - sensor.floors_descended
      - sensor.last_update_trigger
      - sensor.nathaniels_ipad_battery_level
      - sensor.nathaniels_ipad_battery_state
      - sensor.nathans_iphone_battery_level
      - sensor.nathans_iphone_battery_state
      - sensor.radio_thermostat_company_of_america_ct100_plus_thermostat_indicator_3
      - sensor.radio_thermostat_company_of_america_ct100_plus_thermostat_indicator_4
      - sensor.radio_thermostat_company_of_america_ct100_plus_thermostat_relative_humidity
      - sensor.radio_thermostat_company_of_america_ct100_plus_thermostat_relative_humidity_2
      - sensor.radio_thermostat_company_of_america_ct100_plus_thermostat_temperature
      - sensor.radio_thermostat_company_of_america_ct100_plus_thermostat_temperature_2
      - sensor.sim_1
      - sensor.ssid
      - sensor.time
      - sensor.time_date
      - sensor.time_utc


zone:
  - name: ATL
    latitude: !secret atl_latitude
    longitude: !secret atl_longitude
    icon: mdi:airplane

zwave:
  usb_path: /dev/serial/by-id/usb-0658_0200-if00
  network_key: !secret zwave_key
  polling_interval: 30000

mqtt:
  broker: a0d7b954-mqtt
  username: !secret mqtt_user1
  password: !secret mqtt_pass1
  client_id: home-assistant

mobile_app:

ios:
  push:
    categories:
      - name: Camera With Actions
        identifier: 'camera'
        actions:
          - identifier: 'STOP_LOOP'
            title: 'Stop Loop'
            authenticationRequired: true
      - name: Alarm Clock
        identifier: 'alarm_clock'
        actions:
          - identifier: 'SNOOZE_ALARM_CLOCK'
            title: 'Snooze'
          - identifier: 'STOP_ALARM_CLOCK'
            title: 'Turn Off'
            destructive: true

notify:
  platform: rest
  name: discord_webhook
  method: POST
  message_param_name: content
  title_param_name: username
  data:
    username: Home Assistant
  resource: !secret discord_webhook_url

weather:
  - platform: darksky
    api_key: !secret darksky_api

amcrest:
  host: !secret amcrest_host
  username: !secret amcrest_user
  password: !secret amcrest_pass
  binary_sensors:
    - motion_detected

device_tracker:
  platform: unifi
  host: !secret unifi_host
  username: !secret unifi_user
  password: !secret unifi_pass
  verify_ssl: false

heos:
  host: 192.168.5.30

media_player:
  - platform: spotify
    client_id: !secret spotify_client_id
    client_secret: !secret spotify_client_secret
  - platform: volumio
    name: Volumio
    host: !secret volumio_host
    port: 3000
  - platform: mpd
    name: volumio_mpd
    host: !secret volumio_host

fan:
  - platform: template
    fans:
      living_room:
        friendly_name: Living Room Fan
        value_template: "{{ states('switch.living_room_ceiling_fan') }}"
        turn_on:
          service: switch.turn_on
          entity_id: switch.living_room_ceiling_fan
        turn_off:
          service: switch.turn_off
          entity_id: switch.living_room_ceiling_fan

tts:
  - platform: google_translate

automation: !include_dir_merge_list automation
input_number: !include input_number.yaml
input_boolean: !include input_boolean.yaml
input_datetime: !include input_datetime.yaml
sensor: !include sensor.yaml
light: !include light.yaml
scene: !include scene.yaml
script: !include scripts.yaml
group: !include group.yaml
